:root {
  --mobile-menu-offset: -70vw;
  --menu-overlay-opacity: 0;
  --menu-transition-speed: .25s;
}


$stroke-width: 7px;
$grid-size: 7;
$accent: #F9D043;

html,
body,
#app {
  margin: 0;
  padding: 0;
}

* {
  z-index: 1;
}

#app {
  display: grid;
  grid-template-rows: repeat($grid-size, 1fr);
  grid-template-columns: repeat($grid-size, 1fr);
  background-image: url('../images/skyline.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  border-right: $accent $stroke-width solid;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-family: 'Helvetica', sans-serif;
  color: #fff;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: $stroke-width;
    background: linear-gradient(#13131391, #131313);
    z-index: 0;
  }

  .logo {
    width: 160px;
    height: 70px;
    margin: auto;
    grid-area: 2 / 4 / 2 / 5;
    justify-self: center;
  }

  .award-winning {
    color: $accent;
    text-transform: uppercase;
    letter-spacing: 10px;
    grid-area: 3 / 2 / 3 / 7;
    justify-self: center;
    align-self: flex-end;
  }

  .tagline {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    grid-area: 4 / 3 / 4 / 6;
    line-height: 1.3;
    align-self: flex-end;
    margin: .5rem;
  }

  .cta_learn-more {
    grid-area: 6 / 4 / 6 / 4;
    height: 45%;
    align-self: center;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 2px;
    color: #fff;
    background-color: #2996CB;
    background: -webkit-linear-gradient(to left, #19547b, #2996CB);
    background: linear-gradient(to left, #19547b, #2996CB);
    border: none;
    border-radius: 3px;
  }

  #icon-menu {
    font-size: 1.95rem;
    align-self: center;
    justify-self: center;
    margin: auto;
    grid-area: 1 / 1 / 1 / 3;
    z-index: 3;

  }

  .mobile-menu {
    position: absolute;
    background-color: #00000059;
    height: 100vh;
    width: 100%;
    z-index: 2;
    transition: var(--menu-transition-speed);
    opacity: var(--menu-overlay-opacity);
    &_list {
      display: flex;
      position: relative;
      left: var(--mobile-menu-offset);
      flex-direction: column;
      height: 100%;
      justify-content: center;
      padding-inline-start: 2rem;
      background-color: #2996cb;
      background: linear-gradient(320deg, #19547b, #2996CB 50%);
      width: 50%;
      margin-block-start: 0;
      transition: var(--menu-transition-speed);
    }
    &_link {
      text-decoration: none;
      color: #fff;
      padding: 1rem 0;
      font-size: 1.5rem;
    }
  }
}